@use '../config' as *;

.body {
    display: grid;
    grid-template-columns: $sidebar-width 1fr;

    &.nav-closed {
        grid-template-columns: 0 1fr;
    }

    @media only screen and (min-width: 600px) {
        transition: grid-template-columns 0.25s ease; // works in firefox
    }
}
