.header {
    background-color: $color-primary;
    display: flex;
    align-items: center;
    height: 45px;
    position: absolute;
    top: 0;
    left: 0;
    width: 210px;
    transition: opacity 0.25s ease;

    .nav-open & {
        width: 45px;
    }


    &__title {
        color: $white;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 22px;
        margin-left: 15px;

        .nav-open & {
            display: none;
        }

        &::after {
            content: $site-title;
        }
    }
}
