.sidebar {
    background-color: $off-white;
    transition: margin 0.25s ease;
    margin-left: 0;
    padding-top: 45px;
    position: relative;

    .nav-closed & {
        margin-left: -210px;
    }
}
