.header {
    background-color: $aqua;
    padding: 10px 20px;

    &__title {
        color: $white;
        font-weight: 200;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 22px;
    }
}
