.icon {
    &--cross {
        width: 40px;
        height: 40px;
        position: fixed;
        z-index: 2;
        right: 5px;
        top: 5px;
        display: none;

        &:hover {
            cursor: pointer;
        }

        .iframe-open & {
            display: block;
        }
    }
}
