.button {
    &--resize {
        border: 2px solid $light-grey;
        color: $light-grey;
        padding: 5px 10px;
        margin: 0 5px;
        font-weight: bold;
        background-color: $off-white;

        &:hover {
            cursor: pointer;
        }

        &.is-active {
            border: 2px solid $mid-grey;
            color: $mid-grey;
        }

        &:last-of-type {
            margin: 0 0 0 5px;
        }
    }

    &--close-menu {
        display: flex;
        background-color: $off-black;
        align-self: stretch;
        align-items: center;
        justify-content: center;
        padding: 15px;
        position: relative;
        z-index: 2;
    }

    &__icon {
        width: 18px;
        height: 20px;
        fill: $light-grey;
        vertical-align: middle;
    }
}
