.icon {
    &--cross {
        width: 40px;
        height: 40px;
        position: fixed;
        z-index: 4;
        right: 5px;
        top: 5px;
        display: none;

        &:hover {
            cursor: pointer;
        }

        .iframe-open & {
            display: block;
        }
    }

    &--close-menu {
        width: 14px;
        height: 14px;
        fill: $white;
        transition: transform 0.25s ease;

        .nav-closed & {
            transform: rotate(-45deg);
        }
    }
}
