.icon {
    &--close-menu {
        width: 14px;
        height: 14px;
        fill: $white;
        transition: transform 0.25s ease;

        .nav-closed & {
            transform: rotate(-45deg);
        }
    }

    &--external {
        width: 18px;
        height: 20px;
        fill: $link-color;
        vertical-align: -4px;
        margin-left: 3px;
    }
}
