.list {
    list-style: none;
    padding: 0;
    margin: 0;

    &--child,
    &--grandchild {
        font-size: 13px;
        color: $mid-grey;
        display: none;

        &.is-open {
            display: block;
        }
    }

    &__item-heading {
        display: flex;
        align-items: center;
        user-select: none;
        font-weight: 500;
        border-bottom: 1px solid $foggier;
        padding: 10px;
        background-color: transparent;
        transition: background-color 0.25s ease;

        &:hover {
            cursor: pointer;
            background-color: $foggy;
        }

        &--light {
            font-weight: 200;
        }
    }

    &__item-icon {
        width: 15px;
        height: 15px;
        margin-right: 5px;

        .is-open > & {
            transform: rotate(90deg);
        }
    }

    &__item-icon--small {
        height: 10px;
    }

    &__item-link {
        font-size: inherit;
        padding: 10px 15px 10px 30px;
        display: block;
        color: $mid-grey;
        text-decoration: none;
        border-bottom: 1px solid $foggier;
        background: transparent;
        transition: background-color 0.25s ease;

        &:hover {
            background-color: $foggy;
        }
    }
}


