.list {
    list-style: none;
    padding: 0;
    margin: 0;

    &--child,
    &--grandchild {
        font-size: 13px;
        color: $mid-grey;
        display: none;
        padding-left: 10px;

        &.is-open {
            display: block;
        }
    }

    &--grandchild {
        padding-left: 15px;
    }

    &__item-heading {
        display: flex;
        align-items: center;
        margin: 10px 0;
        user-select: none;
        font-weight: 500;
        font-size: 19px;

        &:hover {
            cursor: pointer;
        }

        &--light {
            font-weight: 200;
        }

        &--small{
            font-size: 13px;
        }
    }

    &__item-icon {
        width: 15px;
        height: 15px;

        .is-open > & {
            transform: rotate(90deg);
        }
    }

    &__item-icon--small {
        height: 10px;
    }

    &__item-link {
        background: $off-white;
        display: block;
        font-size: inherit;
        border-left: 5px solid $off-white;
        transition: background, border, .15s ease-in-out;
        padding: 10px 20px 10px 30px;
        margin: 0 -20px 0 -35px;

        &:hover,
        &.is-active {
            background: $white;
            border-left: 5px solid $color-primary;
        }
    }
}
