@use "sass:color";
@use "../config" as *;

.tabbed-content {
    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    &__heading {
        flex-grow: 1;
        text-align: center;

        > a {
            color: color.adjust(#000, $lightness: 30%);
            padding: 12px 0;
            display: block;
            width: 100%;
            background-color: color.adjust($color-primary, $lightness: 30%);
            text-decoration: none;
            transition: color 0.25s ease, background-color 0.25s ease;

            &:hover {
                color: #000;
                background-color: var(--color-primary);
            }
        }

        &--active {
            > a {
                color: #000;
                background-color: var(--color-primary);
            }
        }

        &:not(:last-child) {
            border-right: 1px solid
                color.adjust($color-primary, $lightness: 20%);
        }
    }

    &__item {
        display: none;

        &--active {
            display: block;
        }
    }

    pre {
        margin-top: 0;
    }

    .hljs {
        width: 100%;
    }
}
