.wrapper {
    display: flex;
    height: 100%;

    &--pattern-header {
        justify-content: space-between;
        flex-direction: column;

        @media only screen and (min-width: 1080px) {
            align-items: center;
            flex-direction: row;
        }
    }

    &--resize-buttons {
        margin-top: 20px;

        @media only screen and (min-width: 1080px) {
            margin-top: 0;
        }
    }
}
