$aqua: #34b2b2;
$white: #fff;
$off-white: #f6f6f6;


html, body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

body {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    word-wrap: break-word;
}

.section-group-heading:not(:first-of-type) {
    margin-top: 100px;
}

.pattern-group-heading {
    font-weight: 500;
    margin: 30px 0 10px;
}

.border-group {
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #eee;
    display: block;
    border-radius: 5px;
    transition: background-color 300ms ease;
}

.border-group:hover {
    background: #f1f1f1;
}

@media only screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    .border-group {
        padding: 10px;
    }
}
