// Overwrite the title, main colour and font family here
$site-title: 'Django Pattern Library';
$color-primary: #34b2b2;
$family-primary:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, 'Helvetica Neue', sans-serif;

// $color--primary + $family--primary are in _config.scss
$white: #fff;
$off-white: #f6f6f6;
$light-grey: #c4c4c4;
$mid-grey: #606060;
$off-black: #333;
$black: #000;
$link-color: #0001ee;
$sidebar-width: 230px;
