// Overwrite the title, main colour and font family here
$site-title: 'Django Pattern Library';
$color-primary: #34b2b2;
$family-primary: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
