/*------------------------------------*\
    $MIXINS
\*------------------------------------*/

/* ============================================
  Hide text visually
*/
@mixin hidden() {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    clip: rect(1px, 1px, 1px, 1px);
}
