// $color--primary + $family--primary are in _config.scss
$white: #fff;
$off-white: #f6f6f6;
$light-grey: #c4c4c4;
$mid-grey: #606060;
$off-black: #333;
$black: #000;
$link-color:#0001ee;
$sidebar-width: 230px;
