// $color--primary + $family--primary are in _config.scss
$white: #fff;
$off-white: #f6f6f6;
$foggy: #ececec;
$foggier: #e4e1e4;
$light-grey: #c4c4c4;
$mid-grey: #606060;
$off-black: #333;
$black: #000;
